<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ENV}}PiggyBank</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}"/>
</head>
<body>
    <header>
        <h1>PiggyBank - {{ENV}}</h1>
        <a href="/transaction">Nieuwe transactie</a>
    </header>
    <div class="container">
        {% block CONTENT %}
        {% endblock %}
    </div> 
</body>
</html>