{% extends 'layout.html' %}
{% block CONTENT%}
    {% for trans in transactions %}
    <div>
        <h2>{{trans.Description}}</h2>
        <p>&euro; {{trans.Amount}}</p>
    </div>
    {% endfor %}
{% endblock CONTENT %}