{% extends 'layout.html' %}
{% block CONTENT%}
    <form method="POST">
        <input name="description" placeholder="Omschrijving" type="text"/>
        <input name="amount" placeholder="Bedrag" type="number"/>
        <select name="io">
            <option value="Income">Inkomsten</option>
            <option value="Expense">Uitgaven</option>
        </select>
        <button type="submit">Opslaan</button>
    </form>
{% endblock CONTENT %}