@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&family=Inclusive+Sans&display=swap');

:root{
    --background: #6C8EAD;
    --pill: #E8871E;
    --brown: #813405;
    --pill-alternative: #4DAA57;
    --color: #F7F9F9;
    --font-title: 'Comfortaa', cursive;
    --font-menu: 'Inclusive Sans', sans-serif;
    --ufo: '';
    /* TODO Is it possible with a image */
    /* TODO add custom cursor */
}

body{
    margin: 0;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 15px;
    margin-bottom: 15px;
    background-color: var(--background);
}

header > span.title{
    text-transform: uppercase;
    font-family: var(--font-title);
    color: var(--color);
}

header > nav > a{
    background-color: var(--pill);
    text-decoration: none;
    padding: 5px;
    color: var(--color);
    font-family: var(--font-menu);
}

header > nav > a:hover{
    background-color: var(--pill-alternative);
    cursor: crosshair;
}

main{
    width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
}

.room {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;
    padding: 1.5em;
    border-radius: 5px;
    border: 1px var(--brown) solid;
}

.room + .room{
    margin-top: 15px;
}

.room > .entry{
    width: 320px;
    height: 160px;
}

.room > .entry > .picture{
    height: inherit;
    width: inherit;
    background-size: cover;
    position: absolute;
    z-index: 0;
    border: var(--background) 4px solid;
}

.entry > .content{
    position: relative;
    padding: 5px;
    color: var(--color);
    background-color:rgba(108, 142,173, 0.6);

}